:root {
    --color-terracotta: #f47048;
    --color-terracotta-translucent: #f470483b;
    --color-terracotta-light: #FFDFC8;
    --color-red-dark: #551309;
    --color-red-dark-translucent: #55130967;
    --color-logo-light: #bb331b;
    --color-logo-dark: #280a05;
}